<div class="task-form-container">
  <h2>Create New</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="task">Task:</label>
      <input type="text" id="task" [(ngModel)]="task.task" name="task" required>
    </div>
    <div>
      <label for="description">Description:</label>
      <input type="description" id="description" [(ngModel)]="task.description" name="description" required>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Add Task</button>
    </div>
  </form>
</div>