.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: solid;
    height: 85vh; /* 75% of the viewport height */
    margin-top: auto; /* Ensures it moves downward in the viewport */
}

.body-container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border-color: black;
}

.task-form {
    display: flex;
    border: solid;
    height: 75vh; /* 75% of the viewport height */
    margin-top: auto; /* Ensures it moves downward in the viewport */
}

.task-list {
    display: flex;
    border: solid;
    flex-grow: 2;
    height: 75vh; /* 75% of the viewport height */
    margin-top: auto; /* Ensures it moves downward in the viewport */
}

.card {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 1.5 rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 1rem;
}