/* You can add global styles to this file, and also import other style files */
.container {
    display: flex;
}

.body-container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border-color: black;
}